
/*all*/
	
	/*ionic bug fix*/
		.item h2{height: 20px;}

/*home*/

	.page_home .anim_head{width:90%;position: absolute;top:0;margin:-20px auto;left: 0;right: 0;}
	.page_home .anim_head img{display: block;width: 100%;}
	
	.page_home .anim_head.place_holder{position: static;visibility: hidden;}

	.page_home .anim_band{width:140%;position: absolute;top:30px;left:-20%;}
	.page_home .anim_band img{display: block;width: 100%;}

	.page_home .anim_logo{width:80%;margin:auto;}
	.page_home .anim_logo img{display: block;width: 100%;}
	.page_home .anim_logo img{display: block;width: 100%;}

	.page_home .start {display: block;width: 80px;margin:auto;}
	.page_home .start img{width:100%;margin-top: 10%;}
	.page_home .start .pressed{display: none;}
	.page_home .start.activated .normal{display: none;}
	.page_home .start.activated .pressed{display: inline;}

/*upload*/

	.page_upload .button_wrap_top .icon{float: right;margin-left: 8px;color:white;font-size: 32px;}

	/*cropper*/
		.cropper_wrap .button_wrap{position: fixed;bottom:10px;text-align: center;width: 100%;}
		.cropper_wrap .button_group{border-radius: 4px;overflow: hidden;margin:0 5px;display: inline-block;}
		.cropper_wrap .button{   color: #fff; background-color: #337ab7; border:solid 1px #2e6da4;padding:6px 12px;cursor:pointer;display: inline-block;}
		.cropper_wrap .button:hover{color: #fff; background-color: #286090; border-color: #204d74;}
		.cropper_wrap .button_group .button+.button{margin-left: -1px;}
		.cropper_wrap img {max-width: 100%; /* This rule is very important, please do not ignore this! */ }
		.cropper_wrap .cropper-view-box{outline: none;}
		.cropper_wrap .cropper-dashed{display: none;}
		.cropper_wrap .cropper-point{display: none;}
		.cropper_wrap .cropper-line{display: none;}
		.cropper_wrap .cropper-center{display: none;}
		.cropper_wrap .cropper-move{background: none;}
		.cropper_wrap .cropper-crop{background: none;}
		.cropper_wrap .cropper-bg{background: none;}