
/*all*/
	
	/*ionic bug fix*/
		.item h2{height: 20px;}

	.all_bg{background: black;position: fixed;width: 100%;height: 100%;left: 0;top: 0;}
	.all_bg .all_bg_img{background:black url(../img/bg_upload.jpg);background-size: cover;width: 100%;height: 100%;position: absolute;left: 0;right: 0;transition:opacity 1s;opacity: 0;}
	.all_bg .all_bg_img.active{opacity: 1;}

	ion-side-menus
	,ion-side-menu
	,ion-side-menu *
	,ion-nav-view
	,ion-side-menu-content.menu-content
		{background: none !important;}
	.page{background: none ;}

	ion-side-menu
	,ion-side-menu.menu-left
		{color:white;left: -275px;    transition: left 200ms ease;width:275px;}
	.menu-open ion-side-menu.menu-left{left: 0;}

	.bg_wave{position: fixed;width: 100%;height: 100%;top:0;left: 0;}
	.bg_wave canvas{width: 100%;height: 100%;top:0;left: 0;}


	.vs_button{width: 200px;height:40px;color:white;text-align: center;border-radius: 20px;line-height: 40px;background: linear-gradient(to right, rgb(118,33,247) 0%,rgb(237,45,183) 100%);}
	.vs_button_outline{width: 200px;height:40px;color:white;text-align: center;border-radius: 20px;line-height: 40px;background: linear-gradient(to right, rgb(118,33,247) 0%,rgb(237,45,183) 100%);position: relative;}
	.vs_button_outline:before{content:' ';display: block;position: absolute;left: 2px;top:2px;width: 196px;height: 36px;background: black;border-radius: 18px;}
	.vs_button_outline span{position: relative;}

	.canvas_2d{position: fixed;width: 100%;height: 100%;top:0;left: 0;display: none;}
	.canvas_2d canvas{position: fixed;width: 100%;height: 100%;top:0;left: 0;}

	.stats{left: auto !important;right:0 !important;}

	.loading-container .loading{background: none;}
	.vs_loading{width: 100px;height: 100px;position: fixed;left: 0;right: 0;top:0;bottom:0;margin:auto;text-align: center;color:rgb(60,60,60);font-weight: bold;}
	.vs_loading canvas{display: block;margin:auto;}

	.vs_loading_repeat_wrap{position: fixed;width: 100%;height: 100%;background: none;z-index: 9999999;display: none;}
	.vs_loading_repeat{    z-index: 10000000; background: rgba(0,0,0,.7); border-radius: 10px; padding-top: 14px; padding-left: 5px;}


/*home*/

	.page_home .main{position: fixed;width: 100%;height: 100%;top:0;left: 0;}

	.page_home .anim_head{width:90%;position: absolute;top:0;margin:-20px auto;left: 0;right: 0;transition:transform .5s linear;}
	.page_home .anim_head img{display: block;width: 100%;}
	
	.page_home .anim_head.place_holder{position: static;visibility: hidden;margin-top: -40px;margin-bottom: -30px;}

	.page_home .anim_band{width:140%;position: absolute;top:30px;left:-20%;transition:transform .5s linear;}
	.page_home .anim_band img{display: block;width: 100%;}

	.page_home .anim_logo{width:80%;margin:auto;transition:transform .5s linear;}
	.page_home .anim_logo img{display: block;width: 100%;}
	.page_home .anim_logo img{display: block;width: 100%;}

	.page_home .start {display: block;width: 80px;margin:auto;margin-top: 20px;}
	.page_home .start img{width:100%;margin-top: 10%;}
	.page_home .start .pressed{display: none;}
	.page_home .start.activated .normal{display: none;}
	.page_home .start.activated .pressed{display: inline;}

/*upload*/

	.page_upload .button_wrap_top .icon{float: right;margin-left: 8px;color:white;font-size: 32px;}

	.page_upload .vs_button{position:fixed;width: 160px;height:40px;margin: auto;left: 0;right: 0;bottom:140px;color:white;text-align: center;border-radius: 20px;line-height: 40px;background: linear-gradient(to right, rgb(118,33,247) 0%,rgb(237,45,183) 100%);}
	.page_upload .vs_button_outline{position:fixed;width: 160px;height:40px;margin: auto;left: 0;right: 0;bottom:80px;color:white;text-align: center;border-radius: 20px;line-height: 40px;background: linear-gradient(to right, rgb(118,33,247) 0%,rgb(237,45,183) 100%);}
	.page_upload .vs_button_outline:before{content:' ';display: block;position: absolute;left: 2px;top:2px;width: 156px;height: 36px;background: black;border-radius: 18px;}
	.page_upload .vs_button_outline span{position: relative;}

	/*cropper*/
		.cropper_wrap .button_wrap{position: fixed;bottom:10px;text-align: center;width: 100%;}
		.cropper_wrap .button_group{border-radius: 4px;overflow: hidden;margin:0 5px;display: inline-block;}
		.cropper_wrap .button{   color: #fff; background-color: #337ab7; border:solid 1px #2e6da4;padding:6px 12px;cursor:pointer;display: inline-block;}
		.cropper_wrap .button:hover{color: #fff; background-color: #286090; border-color: #204d74;}
		.cropper_wrap .button_group .button+.button{margin-left: -1px;}
		.cropper_wrap img {max-width: 100%; /* This rule is very important, please do not ignore this! */ }
		.cropper_wrap .cropper-view-box{outline: none;}
		.cropper_wrap .cropper-dashed{display: none;}
		.cropper_wrap .cropper-point{display: none;}
		.cropper_wrap .cropper-line{display: none;}
		.cropper_wrap .cropper-center{display: none;}
		.cropper_wrap .cropper-move{background: none;}
		.cropper_wrap .cropper-crop{background: none;}
		.cropper_wrap .cropper-bg{background: none;}

/*playlist*/
	.page_playlist .contents_wrap{top:240px;bottom:0;left:0;position: absolute;width: 200%;transition: left .5s ease;}
	.page_playlist .contents_wrap.songlist_act{left: -100%;}
	.page_playlist .content_wrap{top:0;bottom:0;left:0;position: absolute;width: 50%;height: 100%;}
	.page_playlist .content_wrap.songlist_content{left: 50%;}


/*facewaver*/
	.page_facewaver .operate_wrap{position: fixed;bottom:0; height: 120px;width:100%;color:white;background: rgba(0, 0, 0, 0.6); }

	.page_facewaver .operate_wrap .song_info{    padding: 10px; position: fixed; width: 100%; bottom: 0;}
	.page_facewaver .operate_wrap .song_info .cover{    float: left; width: 40px; height: 40px; margin-right: 10px;}
	.page_facewaver .operate_wrap .song_info .title{font-size: 18px;}

	.page_facewaver .operate_wrap .operate{height: 60px;position: fixed;width: 100%;bottom:60px;}
	.page_facewaver .operate_wrap .operate .icon{font-size: 26px;}
	.page_facewaver .operate_wrap .operate .plays{width: 200px;margin:auto;text-align: center;position: relative;top: 26px;}
	.page_facewaver .operate_wrap .operate .plays .icon{display: inline-block; position: relative;}
	.page_facewaver .operate_wrap .operate .play{font-size: 34px;left: 4px;}
	.page_facewaver .operate_wrap .operate .pause{font-size: 46px;left: 0px;top:-13px;}
	.page_facewaver .operate_wrap .operate .prev{float: left;padding: 12px;top: -12px;}
	.page_facewaver .operate_wrap .operate .next{float: right;padding: 12px;top: -12px;}
	.page_facewaver .operate_wrap .operate .outline{border:solid 2px white; border-radius: 50%;    width: 60px; height: 60px; position: absolute; left: 0; right: 0; margin: auto; top: -20px; }
