/*all start*/
	
	.price{vertical-align: middle;}
	.price>*{vertical-align: middle;}
	.discount_price{color:#ef473a;}
	.app_price_tag{font-size: 12px;border-radius: 2px;background: #ef473a;color:white;line-height: 12px;padding:2px 3px;position: absolute;top:0;left: 0;}
	.price .app_price_tag{position: static;}
	.origin_price{color:gray;font-size: 12px;}

	.slider-pager .slider-pager-page{background: black;border:solid 2px white;opacity: 1;border-radius: 50%;width: 11px;height: 11px;}
	.slider-pager .slider-pager-page .icon{display: none;}
	.slider-pager .slider-pager-page.active{background: white;border:solid 2px black;}
	/*var*/
		:root {
		  --red: rgb(255,37,36);
		  --red-light:rgb(255,115,115);
		  --gray:rgb(220,220,220);
		  --gray-light:rgb(160,160,160);
		  --border-gray:rgb(220,220,220);
		  --text-light:rgb(76,76,76);
		}

	/*ion-slides bug fix*/
	.swiper-wrapper{position: relative;}

	/*ionic rewrite*/
		.bar-stable .button.button-clear,.bar-stable .button{color:rgb(160,160,160);}

	body,
	.previous-title{font-family:'Arial', 'Microsoft YaHei';}
	a{color: inherit;text-decoration: none;}
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family: "Arial","Microsoft YaHei";}
	.block{display: block;}
	.btmFixes{position: absolute;bottom: 0;left: 0;height: 50px;color:rgb(196,196,196);background: rgb(51,51,51);width:100%;z-index: 99;padding-top: 4px;}
	.btmFix{width: 20%;text-align: center;float: left;}
	.btmFix .ion{font-size: 26px;color:rgb(212,212,212);}
	.btmFix .name{font-size: 10px;line-height: 14px;}
	.table{display: table;width:100%;padding:0;}
	.td{display: table-cell;vertical-align: middle;width:100%;height: 100%;padding:0;}

    input::-webkit-input-placeholder{color:rgb(220,220,220);}
    input::-moz-placeholder{color:rgb(220,220,220);}
    :focus::-webkit-input-placeholder{color:transparent;}
    :focus::-moz-placeholder{color:transparent;}

	.section{margin:10px 0;background:white;}
	.section .head{line-height: 38px;padding:0 10px;border-top:solid 1px rgb(230,230,230);}
	.section .body{border:solid rgb(230,230,230);border-width:1px 0;padding:5px;}
	.section .foot{line-height: 44px;padding:0 10px;border-bottom:solid 1px rgb(230,230,230);}
	.img-small{width:60px;height:60px;margin:5px;}
	.flex{display:flex;}
	.flex-center{display:flex;align-items:center;}
	.fleft{float:left;}
	.fright{float:right;}
	.btFixed{position: fixed;bottom: 0;width:100%;}
	.color-assertive{color:rgb(241,83,83) !important;}
	.button-small{line-height: 28px;font-size:14px;}
	.tabs .tab-item{position: relative;opacity: 1;overflow: visible;}
	.invisible{visibility: hidden;}
	.invisible *{visibility: hidden;} 
	/*.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader).item-input-inset .item-input-wrapper{margin-top:-1px !important;}*/

	.button.button-positive{background-color:#ef473a;}
	.button.button-positive.active
	,.button.button-positive.activated
		{background-color:#e42112;}

	ion-nav-bar .tabs-striped .tabs{border-bottom:0;}
	ion-nav-bar .tabs-top.tabs-striped .tab-item.tab-item-active,
	ion-nav-bar .tabs-top.tabs-striped .tab-item.active, 
	ion-nav-bar .tabs-top.tabs-striped .tab-item.activated{border-bottom-width:3px !important;}

	.previous-title{display: none !important;}

	.modal{height: 70%;min-height: initial;top:auto;bottom:0;}
	.modal-backdrop-bg{background: rgba(0,0,0,0.5);}

	.col-53 {-webkit-box-flex: 0; -webkit-flex: 0 0 53%; -moz-box-flex: 0; -moz-flex: 0 0 53%; -ms-flex: 0 0 53%; flex: 0 0 53%; max-width: 53%; }
	.col-47 {-webkit-box-flex: 0; -webkit-flex: 0 0 47%; -moz-box-flex: 0; -moz-flex: 0 0 47%; -ms-flex: 0 0 47%; flex: 0 0 47%; max-width: 47%; }
	.full-image{display: block;}
	.sectionLoading{position: absolute;top:0;left: 0;width: 100%;height: 100%;background: url(../img/loading.gif) no-repeat center center;background-size:68px auto;}


	.searchInputWrap{margin-right: 69px;position: relative;margin-right: 0;position: relative;}
	.searchInputWrap .delete{width:28px;height:28px;position: absolute;top:1px;right: 0;line-height: 28px;color:rgb(220,220,220);width:28px;height:28px;position: absolute;top:1px;right: 0;line-height: 28px;color:rgb(220,220,220);}
	.searchInputWrap .delete:before{display: block;position: relative;top:-1px;display: block;position: relative;top:-1px;}
	.searchInputWrap .searchInput{height:30px;border:solid 1px rgb(235,235,235);display: block;margin:7px 0;padding:0 28px;border-radius: 0;display: block;width:100%;box-sizing:border-box;-webkit-appearance:none;border-top-left-radius: 4px;border-bottom-left-radius: 4px;font-weight: 700;font-size:13px;border-radius: 4px; background: rgb(157,1,7);height:30px;line-height:30px;display: block;margin:7px 0;padding:0 28px;display: block;width:100%;box-sizing:border-box;-webkit-appearance:none;border: none;padding-left: 40px;color: white;font-weight: normal;}
	.searchInputWrap .searchButton{float: right;line-height: 30px;background: rgb(220,220,220);/* top:7px; */position: relative;width: 69px;border-top-right-radius: 4px;border-bottom-right-radius: 4px;font-size: 14px;text-align: center;float: right;line-height: 30px;background: rgb(220,220,220);/* top:7px; */position: relative;width: 69px;border-top-right-radius: 4px;border-bottom-right-radius: 4px;font-size: 14px;text-align: center;}
	.searchInputWrap .icon-sousuo{position: absolute;color:rgb(220,220,220);top:0;left: 7px;height: 30px;font-size: 14px;line-height: 28px;font-size: 14px;position: absolute;color:rgb(220,220,220);top:0;left: 7px;height: 30px;font-size: 14px;line-height: 28px;font-size: 16px;margin-left: 4px;}

	.goods_list h2{max-height: 39.2px; height: auto; min-height: 19.6px; /*word-break: break-all;*/ white-space: normal; line-height: 19.6px;font-size:14px;}
	.goods_list .item img.good_img
		{max-width: 120px;max-height: 120px;}
	.goods_list .item-thumbnail-left .item-content
		{padding-left: 140px;min-height: 140px;padding-right: 10px;padding-top: 16px;}

	.scroll_to_top{    position: fixed; bottom: 50px; right: 10px; width: 40px; height: 40px; background: black; text-align: center; line-height: 40px; border-radius: 50%; color: white; font-size: 25px; opacity: .2;transition: opacity .5s;}
	.scroll_to_top.transparent{opacity: 0;pointer-events: none;}

	.badge.badge-positive.badge_dot_only
	,.badge.badge-positive.badge_dot_only.add_weight
		{top:4%;right: calc(50% - 18px);width:10px;height: 10px;padding:0;background:rgb(241,83,83) ;display: block;position: absolute;}

	.promotions{line-height: 30px;}
	.promotions .label{width:50px;float: left;color:gray;}
	.promotions .content{margin-left: 50px;}
	.promotion{white-space: normal;}
	.promotion .tag{background: #ef473a;border-radius: 4px;color:white;padding: 3px 5px;font-size: 14px;}

	
/*all end*/

/*header*/
	/*ion-nav-bar .bar.bar-stable{background-image:linear-gradient(0deg, rgb(220,220,220), rgb(220,220,220) 50%, transparent 50%);}*/
	ion-nav-bar .bar.bar-stable{background-color: #C10F1A;color:white;}
	.bar-stable .button.button-clear, .bar-stable .button{color:white;}
	.bar.bar-stable .title{color:white;}

/*home*/
	.bodyHome .title.header-item{overflow: visible;/*left: 0 !important;*/right: 0 !important;}
	/*#homeHeadInner{margin-left: -15px;margin-right: -15px;}*/
	#homeHead .nav-bar-title{display: block;height: 100%;padding:1px 10px;margin:-1px 0;display: block;height: 100%;padding:1px 10px;margin:-1px 0;}


	#home{background: rgb(249,249,249);}

	#home .starter{width:100%;height:100%;position:fixed;top:0;left:0;z-index:99;background: white;}
	#home .starter .slider{width:100%;height:100%;}
	#home .starter ion-slide{width:100%;height: 100%; background-size:100% auto;background-position: center center;}

	#home .slider{margin-bottom:10px;}
	/*#home .scroll{padding-bottom: 50px;}*/
	#home .tabs{background: white;color:rgb(210,210,210);padding-top:0;border-top:solid 1px rgb(221,221,221) !important;color:rgb(102,102,102);}
	#home .tabs .tab-item{}
	#home .tabs .tab-item.active{color:rgb(255,37,36);}
	#home .tabs .headImg{display:block;position: absolute;bottom: 0;width: 65px;height:65px;border-radius: 50%;border:solid 1px rgb(221,221,221);margin:auto;left:0;right: 0;/*box-shadow:0 0 0px 1px rgb(221,221,221);*/}
	#home .tabs .iconfont{position: relative;top:11px;margin-bottom:-3px;font-size: 21px;}
	#home .rmxl .item{border:0;}
	#home .main-btns{background: white;margin-bottom: 10px;}
	#home .main-btns .iconfont{font-size:25px;color:white;margin:auto;width: 45px;height: 45px;border-radius: 50%;line-height: 45px;text-align: center; }
	#home .main-btns .label{text-align: center;color:#666666;margin-top:10px;font-size: 12px;}

	#home .main-btns .iconfont.n1{background: #FB6F51;}
	#home .main-btns .iconfont.n2{background: #FCBF50;font-size: 25px;}
	#home .main-btns .iconfont.n3{background: #A1D56E;}
	#home .main-btns .iconfont.n4{background: #47D0AD;}
	#home .main-btns .iconfont.n5{background: #5BC1E2;}

	#home .main-btns .homemenu{width: 45px;height: 45px;max-height: none;min-height: auto;margin:auto;}
	#home .main-btns .homemenu1{background: url(../img/menu1.png) no-repeat center center / 100% 100%;}
	#home .main-btns .homemenu2{background: url(../img/menu2.png) no-repeat center center / 100% 100%;}
	#home .main-btns .homemenu3{background: url(../img/menu3.png) no-repeat center center / 100% 100%;}
	#home .main-btns .homemenu4{background: url(../img/menu4.png) no-repeat center center / 100% 100%;}
	#home .main-btns .homemenu5{background: url(../img/menu5.png) no-repeat center center / 100% 100%;}

	#home .cnxhTitleWrap{position: relative;margin-bottom: 10px;}
	#home .cnxhTitleWrap .bar{position: absolute;width:30%;height: 1px;background: rgb(255,37,36);padding: 0;top:50%;left: auto;}
	#home .cnxhTitleWrap .barLeft{left:8%;background-image: -webkit-linear-gradient(right, rgb(255,37,36), white);}
	#home .cnxhTitleWrap .barRight{right:8%;background-image: -webkit-linear-gradient(left, rgb(255,37,36), white);}
	#home .cnxhTitle{text-align: center;font-size: 18px;color: #404040;margin-top:10px;margin-bottom: 10px;}
	#home .cnxhInterval{width: 39px;height: 1px;background-color: #BCBCBC;margin: 0 auto;}
	#home .cnxh .goodsWrap{width:50%;float:left;padding: 5px;}
	#home .cnxh .goods{border:solid 1px rgb(230,230,230);display:block;border-radius:6px;/* margin:10px 0; */background: white;padding:10px;}
	.platform-ios #home .cnxh .goods{border:0;box-shadow:0 1px 1px 0 rgb(180,180,180) ;}
	#home .cnxh .goods .img{text-align: center;/* height: auto; *//* line-height: 150px; */}
	#home .cnxh .goods .img img{vertical-align: middle;width: 100%;/* max-height: 150px; */}
	#home .cnxh .goods .name{margin-top:10px;height:40px;overflow: hidden;}
	#home .cnxh .goods .price{color:rgb(255,37,36);}
	#home .goodsImgs{padding: 0;background: white;margin-bottom: 10px;margin-top:0;}
	#home .goodsImgs .col{padding: 0;}
	#home .goodsImgs *{width: 100%;display: block;}
	#home .goodsImgFull{margin-bottom: 8px;}
	#home .goodsImgFull img{width: 100%;}
	#home .goodsImgList{margin-bottom: 5px;}
	#home .goodsImgList li{margin-top: 0;padding: 0 3px;}
	#home .goodsImgList li p{text-align: center;font-size: 10px;line-height: 12px;}
	#home .goodsImgList li .p1{margin-top: 22px;margin-bottom: 5px;    line-height: 18px; overflow: hidden; height: 36px;}
	#home .goodsImgList img{width: 100%;display: block;}
	#home .tabs-icon-top{background-color: #C20E1A;}
	#home .tabs-icon-top a{color: #FFFFFF;font-size: 12px;}

/*.slider-pager {*/
	/*position: absolute;*/
	/*bottom: 20px;*/
	/*width: 98%;*/
	/*height: 5px;*/
	/*text-align: center;*/
/*}*/

/*.slider-pager .slider-pager-page {*/
	/*display: inline-block;*/
	/*margin: 0px 3px;*/
	/*width: 12px;*/
	/*color: black;*/
	/*text-decoration: none;*/
	/*opacity: 0.3;*/
	/*font-size: 10px;*/
/*}*/

/*account*/
	#account{background: rgb(245,245,245);}
	#account .list{margin-top:10px;margin-bottom:10px;}
	#account .icon{color: rgb(180,180,180);}
	#account .header{background: url(../img/account.jpg) no-repeat center center;height: 102px;background-size:auto 100%;}
	/*#account .header .accountBg{width:100%;display: block;}*/
	#account .header .headImg{background-image:url("../img/head_img_unlogin.jpg");background-size:100% 100%;background-clip:content-box;display: block;margin:15px auto;width:80px;height:80px;border:solid 3px rgba(255,255,255,0.3);/*box-shadow:0 0 0 3px rgba(255,255,255,0.3);*/border-radius: 40px;}
	#account .header .table{width:100%;height: 100%;text-align: center;}
	/*#account .header .row{padding: 0;position: absolute;bottom: 0;}*/
	/*#account .header .col{text-align: center;color: white;background: rgba(0,0,0,0.3);height:40px;line-height: 40px;font-size: 12px;padding:0;}*/
	/*#account .header .col.n2{margin:0 1px;}*/
	/*#account .header.signin{background-position: center -280px;}*/
	#account .header.signin .headImg{margin:15px 0 15px 15px;background-image:url("../img/head_img.jpg");}
	#account .header.signin .uname{color: rgb(107,107,107);font-size: 18px;}
	#account .header.signin .levelname{color: rgb(107,107,107);font-size: 14px;padding-top: 3px;display: inline-block;}
	#account .topInfo{text-align:center;background: white;border:solid rgb(220,220,220);border-width:1px 0;padding:0;}
	#account .topInfo .col{border-right: solid 1px rgb(220,220,220);padding:0;}
	#account .topInfo .col:last-child{border:0;}
	#account .topInfo .td{height: 64px;text-align: center;}
	#account .topInfo .label{color:rgb(76,76,76);}
	#account .topInfo .content{color:rgb(255,37,36);font-size: 18px;display: inline-block;margin-top:3px;}
	#account .orderState{padding: 0;height: 66px;}
	#account .orderState .tabs{position: static;background: none;padding:0;height: 100%;color:rgb(81,81,81);}
	#account .orderState .icon{color:rgb(81,81,81);position: relative;}
	#account .orderState .icon-fukuan{top:5px;}
	#account .orderState .icon-daifahuo{top:5px;font-size: 30px;}
	#account .orderState .icon-daishouhuo{top:4px;font-size: 24px;}
	#account .orderState .icon-chenggong{top:5px;font-size: 26px;}
	#account .orderState .tab-item{border-right: solid 1px #ddd;}
	#account .orderState .tab-item:last-child{border-right: 0;}
	#account .orderState .tab-item-inner{position: relative;top:8px;}
	#account .orderState .badge:empty{display: block;}
	#account .icon-left{color:rgb(255,115,115);}

/*addredit*/
	#addredit .input-label{width:100px;}
	#addredit .set-default{padding-top:13px;padding-bottom: 13px;}
	#addredit .set-default .toggle{top:8px;}

/*addrlist*/
	#addrlist{background: rgb(240,240,240);}
	#addrlist .addrWrap{background: white;border-bottom:solid 1px rgb(220,220,220);margin-bottom: 10px;color:rgb(80,80,80);}
	/*#addrlist .check{float:left;width:50px;line-height: 80px;}*/
	/*#addrlist .modify{float:right;width:50px;line-height: 80px;text-align: center;}*/
	/*#addrlist .addr{margin:0 50px;}*/
	#addrlist .addrWrap .info{border-bottom: solid 1px rgb(220,220,220);padding:10px;}
	#addrlist .addrWrap .info .upper{color:black;font-weight: bold;}
	#addrlist .addrWrap .option{padding:10px;}
	#addrlist .addrWrap .check{float:left;width:18px;height: 18px;border:solid 1px rgb(160,160,160);border-radius: 50%;color:white;font-size: 10px;position: relative;top:2px;}
	#addrlist .addrWrap .check.selected{background: rgb(255,37,36);border-color:rgb(255,37,36);}
	#addrlist .addrWrap .check:before{position: relative;top:-1px;left: 2px;}
	#addrlist .addrWrap .delete{float:right;margin-left: 24px;}
	#addrlist .addrWrap .delete .iconfont{position: relative;top:2px;}
	#addrlist .addrWrap .modify{float:right;}

	#addrlist ion-content{bottom:67px;}
	#addrlist .bar-footer{height: 67px;padding:0;display: block;border-top:solid 1px rgb(221,221,221);}
	#addrlist .bar-footer .button{height: 47px;line-height:45px;font-size: 16px;}

/*cart*/
	#cart{background: rgb(240,242,245);}
	#cart ion-content{margin-bottom: 49px;}
	#cart ion-content.empty{background: url("../img/cart_empty.jpg") no-repeat;background-position: center 30%;background-size:120px auto;}

	#cart .good{height: 142px;overflow: hidden;}
	#cart .good>*{overflow: hidden;}
	#cart .good_img_wrap{width:120px;height:120px;position:absolute;margin-right: 10px;left: 10px;top:10px;}
	#cart .good_img_wrap img{width:100%;height:100%;}
	#cart .good_name{max-height:40px;overflow: hidden;}
	#cart .good_spec_info{color: rgb(180,180,180);font-size: 14px;height:20px;}

	#cart .good_gifts .gift{color: rgb(180,180,180);font-size: 14px;height:20px;}
	#cart .good_gifts .gift span{display: inline-block;vertical-align: middle;}
	#cart .good_gifts .gift .name{max-width: 50%;overflow:hidden;}

	#cart .goods_list .good{position: relative;}
	#cart .goods_list .good>*{margin-left: 124px;}
	#cart .goods_list .item{padding-right: 10px;}
	#cart .goods_list .good_price {position: absolute;bottom:16px;}
	#cart .goods_list .good_price .price{color:rgb(255,37,37);}
	#cart .goods_list .good_quantity>*{border:solid 1px rgb(239,239,239);height:34px;line-height: 34px;text-align: center;color:rgb(102,102,102);}
	#cart .goods_list .good_quantity .minus{width:34px;float: left;}
	#cart .goods_list .good_quantity .plus{width:34px;float: right;}
	#cart .goods_list .good_quantity .quantity{margin:0 33px;}
	#cart .goods_list .edit{position: absolute;right: 16px;bottom:16px;}
	#cart .goods_list .finish{position:absolute;right:0;top:0;width:80px;line-height: 122px;background: rgb(255,37,37);height: 122px;text-align: center;color:white;}
	#cart .goods_list .remove{position: absolute;left: 140px;bottom: 16px;border:solid 1px rgb(239,239,239);border-radius: 4px;padding:3px 10px;font-size: 14px;color:rgb(102,102,102);margin-left: 0;}

	#cart .check_out{float:right;clear:both;margin-right: 10px;}
	#cart .bar-footer{height: 49px;background:rgba(255,255,255,0.8);padding: 0;color: white;display: block;border-top:solid 1px rgb(239,239,239);}
	#cart .bar-footer .check_out{float: right;width:25%;background: rgb(255,37,37);margin:0;height: 100%;text-align: center;line-height: 49px;font-size: 18px;letter-spacing: 2px;color:white;text-decoration: none;}
	#cart .bar-footer .price{margin:0 25% 0 10px;height: 100%;font-size: 12px;}
	#cart .bar-footer .price .calculated{position: relative;top:2px;}
	#cart .bar-footer .price .detail{position: relative;top:-2px;}
	#cart .bar-footer .calculated .label{font-size: 16px;line-height: 28px;vertical-align: middle;color:rgb(102,102,102);}
	#cart .bar-footer .calculated .price{font-size: 22px;line-height: 28px;margin:0;vertical-align: middle;color:rgb(255,37,37);}
	#cart .bar-footer .total{color:rgb(102,102,102);}
	#cart .bar-footer .privilege{color:rgb(102,102,102);}
	#cart .delete{margin-top: 20px;}

/*cats*/
	#catsHead .nav-bar-title{display: block;height: 100%;padding:1px 10px;margin:-1px 0;}
	#cats{padding-top: 0;}
	/*#cats .lv1{width:100px;float:left;}
	#cats .lv1 .cat{text-align: center;background: rgb(243,244,246);padding:12px 0;border:solid rgb(229,229,229);border-width:0 1px 1px 0;font-size: 14px;margin:0;}
	#cats .lv1 .cat.active{background: white;border-right-color: white;color:rgb(241,83,83);}
	#cats .lv2{margin-left: 100px;}
	#cats .lv2 .cat{text-align: center;width:33%;float: left;}
	#cats .lv2 .allWrap{clear: both;display: block;height:50px;line-height: 50px;}
	#cats .lv2 .all{float: right;width:33%;color:gray;}
	#cats .lv2 .catName{height: 40px;overflow: hidden;}*/
	/*#cats ion-content{width:100%;}*/

	/*#cats .lv1{border:solid 1px rgb(196,196,196);border-radius: 4px; text-align:center; color:black;margin-left:2.5%;margin-top:2.5%;width:30%;background: white;line-height: 36px;  float: left;position: relative;}*/
	#cats .lv1{border:solid 1px rgb(196,196,196);border-radius: 4px; text-align:center; color:black;margin-left:2.5%;margin-top:2.5%;width:46.3%;background: white;line-height: 36px;  float: left;position: relative;}

	#cats .lv1 .cat_name{height: 36px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
	#cats .lv1 .cover{background:rgb(255,211,211);width:100%;height: 5px;position: absolute;top: 40px;z-index: 2;display: none;}
	#cats .lv2s{display: none;/*width: 95%;*/margin-top: 5px;border:solid 1px rgb(255,37,36);background:rgb(255,211,211);position: absolute;border-radius: 4px;padding-bottom: 10px;}
	#cats .lv2{border:solid 1px rgb(196,196,196);border-radius: 4px;text-align:center;color:black;margin-left:2%;margin-top:10px;min-width:25%;max-width:95%;padding:0 10px;background: white;line-height: 32px;height:34px;overflow:hidden;text-overflow:ellipsis;float: left;white-space: nowrap;}
	/*#cats .lv1:nth-child(2) .lv2s{left: calc(-32.5vw - 1px);}*/
	/*#cats .lv1:nth-child(3) .lv2s{left: calc(-65vw - 1px);}*/
	#cats .lv1.active{border-color:rgb(255,37,36);background:rgb(255,211,211); border-bottom: 0;}
	#cats .lv1.active .lv2s{display: block;}
	#cats .lv1.active .cover{display: block;}

/*checkout*/
	#checkout{padding-bottom: 49px;}
	#checkout .color-assertive{color:rgb(255,37,37) !important;}
	#checkout ion-content{margin-bottom: 49px;}
	#checkout .order_create{float:right;}
	#checkout .goods_total_num{float:right;display:flex;height:70px;align-items:center;justify-content:center;}
	#checkout .bar-footer{height: 49px;background:white;display: block;padding: 0;color: rgb(102,102,102);border-top:solid 1px rgb(231,231,231);}
	#checkout .bar-footer .check_out{float: right;width:35%;background: rgb(255,37,37);margin:0;height: 100%;text-align: center;line-height: 49px;font-size: 18px;;letter-spacing: 1px;color:white;}
	#checkout .bar-footer .price{margin:0 35% 0 0;height: 100%;font-size: 22px;line-height: 48px;padding-left: 15px;}
	#checkout .bar-footer .price .label{font-size: 18px;vertical-align: middle;}
	#checkout .bar-footer .price .content{vertical-align: middle;color:rgb(255,37,37);}
	#checkout .goodsList{height: 75px;overflow: hidden;}
	#checkout .addr_sec{height:84px;background:url('../img/addr_bg.png') repeat-x;background-size:auto 100%;}
	#checkout .addr_sec{padding-top:18px;margin-top:3px;}
	#checkout .addr_sec .name{float: left;margin-left: 18px;font-size: 18px;}
	#checkout .addr_sec .mobile{float: left;margin-left: 16px;}
	#checkout .addr_sec .content{margin-left: 18px;}
	#checkout .addr_sec .name .content{margin-left: 22px;}
	#checkout .addr_sec .addr{clear:both;margin-top: 8px;margin-left: 18px;}
	#checkout .addr_sec .icon{color:rgb(255,37,37);float: left;}
	#checkout .item-icon-right{padding-right: 30px;}
	#checkout .item-icon-right .icon{right: 0;}
	#checkout .item.goods{padding:6px 30px 6px 8px;vertical-align: bottom;}
	#checkout .item.goods .goods-imgs{margin-right: 60px;overflow: hidden;height: 70px;}
	#checkout .item.goods .goods-img{/*float: left;*/}
	#checkout .item.goods *{/*padding:6px 8px;*/vertical-align: bottom;}
	#checkout .item.goods .item-note{line-height: 70px;}
	#checkout .item-note{color: black;}
	#checkout .item .icon{color:rgb(180,180,180);}
	#checkout .price-row{height: 24px;line-height: 24px;}

/*contact*/
	#contact ion-content{padding: 10px 15px 20px;font-size: 14px;}
	#contact .title{color:rgb(255,37,36);margin-top: 14px;margin-bottom: 4px;}
	#contact .content{line-height: 22px;}
	#contact .contactInfo{color: rgb(255,90,0);margin-top: 10px;}
	#contact .hr{height: 1px;background: rgb(220,220,220);margin: 15px -15px 10px;}

/*gallery*/
	#gallery .bar-subheader{/* border-bottom: solid 1px rgb(221,221,221); */height:34px;}
	#gallery .bar-subheader .col{text-align: center;padding: 0;line-height: 23px;}
	#gallery .has-subheader{top:78px;}
	#gallery .list{margin-top:-1px;}
	#gallery .bar-subheader .active{color:rgb(255,37,37);}
	#gallery .bar-subheader .col{position: relative;}
	#gallery .bar-subheader .arrow_up{border:solid 5px transparent;border-bottom-color:rgb(180,180,180);width:0;height:0;position: absolute;top:0px;right: 24%;}
	#gallery .bar-subheader .arrow_up.active{border-bottom-color:rgb(255,37,37);}
	#gallery .bar-subheader .arrow_down{border:solid 5px transparent;border-top-color:rgb(180,180,180);width:0;height:0;position: absolute;top:12px;right: 24%;}
	#gallery .bar-subheader .arrow_down.active{border-top-color:rgb(255,37,37);}
	#gallery .bar-subheader .sales .arrow_down{top:9px;}
	#gallery .bar-subheader .sales.active .arrow_down{border-top-color:rgb(255,37,37);}
	/*#gallery .pager{position: absolute;bottom:30px;left:0;right:0;margin:auto;text-align: center;width:50px;background: rgba(0,0,0,0.3);border-radius: 10px;color:white;}*/
	.platform-ios.platform-cordova #gallery .has-subheader{top:98px}

/*orderdetail*/
	#orderdetail{padding-bottom: 49px;}
	#orderdetail .color-assertive{color:rgb(255,37,37) !important;}
	/*#orderdetail ion-content{margin-bottom: 49px;}*/
	#orderdetail .order_create{float:right;}
	#orderdetail .goods_total_num{float:right;display:flex;height:70px;align-items:center;justify-content:center;}
	#orderdetail .bar-footer{height: 49px;background:rgb(221,221,221);padding: 0;color: rgb(102,102,102);border-top:solid 1px rgb(231,231,231);}
	#orderdetail .bar-footer .btn{background: white;text-align: center;line-height:38px;height: 38px; color:rgb(74,74,74);border:solid 1px rgb(200,200,200);font-size: 16px;}
	#orderdetail .bar-footer .btn.main{background: rgb(255,37,36);color:white;}
	#orderdetail .goodsList{height: 75px;overflow: hidden;}
	#orderdetail .addr_sec{height:84px;background:url('../img/addr_bg.png') repeat-x;background-size:auto 100%;}
	#orderdetail .addr_sec{padding-top:18px;margin-top:3px;}
	#orderdetail .addr_sec .name{float: left;margin-left: 18px;font-size: 18px;}
	#orderdetail .addr_sec .mobile{float: left;margin-left: 16px;}
	#orderdetail .addr_sec .content{margin-left: 18px;}
	#orderdetail .addr_sec .name .content{margin-left: 22px;}
	#orderdetail .addr_sec .addr{clear:both;margin-top: 8px;margin-left: 18px;}
	#orderdetail .addr_sec .icon{color:rgb(255,37,37);float: left;}
	#orderdetail .item-icon-right{padding-right: 30px;}
	#orderdetail .item-icon-right .icon{right: 0;}
	#orderdetail .item.goods{padding:6px 30px 6px 8px;vertical-align: bottom;}
	#orderdetail .item.goods .goods-imgs{margin-right: 60px;overflow: hidden;height: 70px;}
	#orderdetail .item.goods .goods-img{float: left;}
	#orderdetail .item.goods *{/*padding:6px 8px;*/vertical-align: bottom;}
	#orderdetail .item.goods .item-note{line-height: 70px;}
	#orderdetail .item-note{color: black;}
	#orderdetail .item .icon{color:rgb(180,180,180);}
	#orderdetail .item.total{text-align: right;border-bottom:0;}
	#orderdetail .item.total .price{font-size: 18px;}
	#orderdetail .item.total .time{font-size: 14px;color:rgb(136,136,136);margin-top: 5px;}
	#orderdetail .item.total .content{color:;}
	#orderdetail .price-row{height: 24px;line-height: 24px;}

	#orderdetail .good{height: 142px;overflow: hidden;}
	#orderdetail .good>*{overflow: hidden;}
	#orderdetail .good_img_wrap{width:120px;height:120px;position:absolute;margin-right: 10px;left: 10px;top:10px;}
	#orderdetail .good_img_wrap img{width:100%;height:100%;}
	#orderdetail .good_name{max-height:40px;overflow: hidden;}
	#orderdetail .good_spec_info{color: rgb(180,180,180);font-size: 14px;height:20px;}

	#orderdetail .good_gifts .gift{color: rgb(180,180,180);font-size: 14px;height:20px;}
	#orderdetail .good_gifts .gift span{display: inline-block;vertical-align: middle;}
	#orderdetail .good_gifts .gift .name{max-width: 50%;overflow:hidden;}

	#orderdetail .good_price {position: absolute;bottom:16px;}
	#orderdetail .good_price .price{color:rgb(255,37,37);}
	#orderdetail .good_quantity {margin-left: 100px;}
	#orderdetail .good_quantity>*{border:solid 1px rgb(239,239,239);height:34px;line-height: 34px;text-align: center;color:rgb(102,102,102);}
	#orderdetail .good_quantity .minus{width:34px;float: left;}
	#orderdetail .good_quantity .plus{width:34px;float: right;}
	#orderdetail .good_quantity .quantity{margin:0 33px;}
	#orderdetail .edit{position: absolute;right: 16px;bottom:16px;}
	#orderdetail .finish{position:absolute;right:0;top:0;width:80px;line-height: 122px;background: rgb(255,37,37);height: 122px;text-align: center;color:white;}
	#orderdetail .remove{position: absolute;left: 116px;bottom: 16px;border:solid 1px rgb(239,239,239);border-radius: 4px;padding:3px 10px;font-size: 14px;color:rgb(102,102,102);}
	#orderdetail .goods_list .good>*{margin-left: 124px;}
	#orderdetail .goods_list .item{padding-right: 10px;}

/*orderlist*/
	#orderlist{background:rgb(240,240,240);}
	#orderlist .bar-subheader{text-align: center;line-height: 24px;}
	#orderlist .bar-subheader .active{color:rgb(241,83,83);}
	#orderlist .order_id{float: left;}
	#orderlist .state{float: right;}
	#orderlist .img{width:60px;height:60px;float:left;margin:5px;}
	#orderlist .img img{width:100%;height:100%;}
	#orderlist .button{float:right;margin:7px 0 0 10px ;padding:0 10px;}
	#orderlist .item_product{position: relative;overflow: hidden;}
	#orderlist .item_product .quantity{position: absolute; top: 0; right: 0; background-color: #0094de; height: 14px; line-height: 14px; color: white; font-size: 12px; padding: 0 3px;}
	#orderlist .item_product .is_gift{position: absolute; top: 0; left: 0; background-color: rgb(194,14,26); height: 14px; line-height: 14px; color: white; font-size: 12px; padding: 0 3px;}

/*payed*/
	#payed {background: rgb(240,242,245);}
	#payed .scroll{background: white;border:solid 1px rgb(227,227,227);}
	#payed .imgPayed{display: block;margin:30px auto;height: 64px;}
	#payed .title{font-size: 20px;text-align: center;margin:20px auto;}
	#payed .price{text-align: center;margin:20px auto;}
	#payed .btns{text-align: center;margin:20px auto;}
	#payed .btn{display: inline-block;width:130px;height: 34px;line-height: 32px;text-align: center;border:solid 1px rgb(200,200,200);color:rgb(120,120,120);margin:0 10px;border-radius: 4px;font-size: 16px;}

/*payments*/
	#payments .amount{float: right;}
	#payments .item-image{border-radius: 5px;background: rgb(237,180,69);color:white;line-height: 40px;font-size: 30px;}
	#payments .item-image .ion-social-yen{position: relative;top:1px;}
	#payments .alipay .item-image{background: url(../img/alipay.png) no-repeat;background-size:100% 100%;}
	#payments .wechatpay .item-image{background: url(../img/wechatpay.jpg) no-repeat;background-size:100% 100%;}

/*product*/
	#product-top .tabs-top > .tabs,
	#product-top .tabs.tabs-top{top:0;height: 43px;}
	#product .slidePageWrap{height:100%;}
	#product ion-content{margin-bottom: 49px;}
	#product ion-slide{background:no-repeat center center;background-size:100% auto;}
	#product .list .label{width:50px;float: left;color:gray;}
	#product .list .content{margin-left: 50px;}
	#product .content{margin-left: 60px;}
	#product .content .specOption{float: left;border:solid 1px rgb(215,215,215);border-radius:4px;text-align: center;line-height: 26px;padding:0 15px;margin:5px;min-width: 74px;}
	#product .content .specOption.active{border-color:rgb(241,83,83);}
	#product .bar-footer{height: 49px;background:white;display: block;padding: 0;color: white;border-top:solid 1px rgb(221,221,221);}
	#product .bigButtonsWrap{width:160px;float: right;}
	#product .big-buttons{margin-left: 0;padding:0;position: relative;top:-1px;}
	#product .big-buttons>*{padding:0;margin:0;height: 100%;text-align: center;line-height: 49px;font-size: 18px;;letter-spacing: 1px;}
	#product .immediate-buy{background: rgb(255,37,37);}
	/*#product .bar-footer .add_cart{background: rgb(255,129,37);}*/
	#product .bar-footer .add_cart{background: rgb(239, 71, 58);}
	#product .bar-footer .buttonsWrap{margin-right: 160px;width:auto;}
	#product .bar-footer .buttons{height: 100%;font-size: 12px;padding-top:2px;margin-top: 0;padding: 0;display: flex;}
	#product .bar-footer .buttons>*{/* width:68px; *//* display: block; */height: 100%;float: left;padding: 0;padding-top: 2px;width:50%;}
	#product .bar-footer .buttons .icon{font-size: 25px;line-height:25px;color: rgb(102,102,102);}
	#product .bar-footer .fav{text-align: center;/* margin-left: 10px; */}
	#product .bar-footer .cart{text-align: center;text-decoration: none;/* float:right; *//* margin-right: 10px; */position: relative;}
	#product .cart .badge{position: absolute;height:16px;padding-top:1px;padding-bottom:1px;right: 25%;}
	#product .goodsIntro img{width:100%;display: block;}
	#product .cartAnimImg{border:solid 1px rgb(180,180,180);}
	#product .productDetail,
	#product .imgTextDetail{transition:all 0.6s;}
	#product .imgTextDetail{transform:translateY(100%);}
	#product .productDetail .scroll{min-height: 100%;}
	#product .text-pulling-up{text-align: center;font-size: 16px;color:#666666;background: rgb(249,249,249);height: 46px;line-height: 46px;}
	#product .buttons .label{color:rgb(102,102,102);font-size:14px;}
	#product .bar-footer .buttons .faved .icon{color:rgb(255,37,37);}
	#product .bar-footer .buttons .faved .icon{color:rgb(239, 71, 58);}
	#product .noStore{background: rgb(255,171,90);}
	#product .item.select .content{white-space: normal;}
	#product .price{font-size: 19px;margin-top: 10px;}

	/*#product .specsBG{width: 100%;height:100%;background:rgba(0,0,0,0.8);position: absolute;z-index: 8;top:0;right: 0;display: none;}*/
	#product_specs .specs{height: 100%;top:0;right: 100%;background: white;z-index: 9;padding:54px 10px 59px 10px;color:rgb(104,104,104);font-family: "Microsoft YaHei";}
	#product_specs .specs .specOptions{padding:10px 0;border-bottom:solid 1px rgb(215,215,215);}
	#product_specs .specs .label{width:60px;float: left;line-height: 36px;}
	#product_specs .label{width:50px;float: left;color:gray;}
	#product_specs .content{margin-left: 50px;}
	#product_specs .content{margin-left: 60px;}
	#product_specs .content .specOption{float: left;border:solid 1px rgb(215,215,215);border-radius:4px;text-align: center;line-height: 26px;padding:0 15px;margin:5px;margin-left:0;min-width: 74px;}
	#product_specs .content .specOption.active{border-color:rgb(241,83,83);}
	#product_specs .good_quantity {width:150px;}
	#product_specs .good_quantity>*{border:solid 1px rgb(239,239,239);height:34px;line-height: 34px;text-align: center;color:rgb(102,102,102);}
	#product_specs .good_quantity .minus{width:34px;float: left;}
	#product_specs .good_quantity .plus{width:34px;float: right;}
	#product_specs .good_quantity .quantity{margin:0 33px;}

/*page_product_comments*/
	.page_product_comments ul.rating{float: left;}
	.page_product_comments ul.rating li {display: inline; border: 0px; background: none; padding: 1px; }
	.page_product_comments ul.rating li i {font-size: 14px;color:rgb(239, 71, 58); }


/*page_return*/
	.page_return .label{padding:10px 3%;box-shadow:0 3px 10px #E2E2E2;margin-bottom:10px;}
	.page_return .first .title{display: inline-block;vertical-align: middle;margin-bottom:0;}
	.page_return .type{font-size:12px;display: inline-block;vertical-align: middle;line-height: 24px;height:26px;border:1px solid #dddddd;border-radius: 2px;padding:0 10px;margin:0 8px;position: relative;box-sizing: border-box;min-width:50px;text-align: center;}
	.page_return .type.selected{border:2px solid #FF5500;line-height: 22px}
	.page_return .type.selected .bq{background: url(../img/jb.png) no-repeat 0 0;width:15px;height:15px;background-size:100%;position: absolute;left:-2px;top:-2px;}
	.page_return .title{line-height: 30px;margin-bottom:10px;}
	.page_return .return_goods .lt{float: left}
	.page_return .return_goods{margin-bottom:15px;}
	.page_return .lt .pic{width:50px;height:50px;}
	.page_return .lt .pic img{width: 100%}
	.page_return .lt>*{display: inline-block;vertical-align: middle;}
	.page_return .return_info{margin-left:80px;}
	.page_return .return_info p{margin-bottom:5px;line-height: 20px;font-size:13px;}
	.page_return .minus_plus:before{line-height: 22px;}
	.page_return .return_num{display: box;display: -webkit-box;display: -moz-box;margin-top:10px;}
	.page_return .return_num>*{display:flex;border: 1px solid #BFBFBF;justify-content: center;font-weight: 600;font-size: 16px;color:#515151;}
	.page_return .return_num .minus{width:24px;height:24px;border-right:0;}
	.page_return .return_num .plus{width:24px;height:24px;border-left:0;}
	.page_return .return_num .quantity{width:50px;height:24px;padding:0;border: 1px solid #BFBFBF;text-align: center}
	.page_return .return_num .return_maxnum{border:none;font-weight: 400;font-size:13px;line-height: 24px;margin-left:8px;}
	.page_return .label textarea{width:100%;margin-bottom:5px;box-sizing: border-box;padding:5px 10px;border:1px solid #BFBFBF;resize: none;font-size:13px;line-height: 18px;overflow:scroll;overflow-y:hidden;overflow-x:hidden;height: 30px}
	.page_return .clause i{vertical-align: middle;margin-right:10px;}
	.page_return .clause{font-size:12px;}
	.page_return .clause a{color:#FF5500;}
	.page_return .sub{margin-top:15px;height:30px;line-height: 30px;font-size:13px;text-align:center;border-radius: 10px;color:#fff;background:#FF5500}

/*.return_doc*/
	.return_doc h3{line-height: 40px;color: #3f3f3f;box-shadow: 0 3px 10px #e8e8e8;font-size:15px;font-weight:600;padding:0 3%;margin-bottom:0}
	/*.return_doc .list{background: #FBFBFB}*/
	.return_doc .item{padding:0 3%;border:none;margin:20px 0 0;box-shadow: 0 3px 10px 1px #e8e8e8;}
	.return_doc .item .bd{overflow: hidden;font-size:14px;color:#000;line-height: 30px;border-bottom:1px solid #ccc;padding-bottom:10px;}
	.return_doc .item .lt{float:left;}
	.return_doc .item .lt p{font-size:14px;color:#000;line-height: 30px}
	.return_doc .item .status{float:right;color:#ff0000;}
	.return_doc .item .status p{color:#000;text-align: right;}
	.return_doc_info{padding:10px 0;}
	.return_doc_info .pic{float: left;width:50px;height:50px;overflow: hidden;}
	.return_doc_info .pic img{width: 100%}
	.return_doc_info .info{margin-left:60px;}
	.return_doc_info p{line-height: 20px;font-size:12px;color:#000;}

/*signin*/
	#signin{}
	#signin .headImg{width: 92px;height: 92px;margin:30px auto;border-radius: 50%;display: block;}
	#signin .inputWrap{}
	#signin .input{position: relative;margin-bottom: 24px;}
	#signin .input i{position: absolute;line-height: 34px;left: 12px;top:0;color:rgb(186,186,186);}
	#signin .input input{padding: 0 0 0 35px;line-height: 34px;border:solid 1px rgb(208,208,208);border-radius: 4px;overflow: hidden;width: 100%;}
	#signin .input input:focus{border-color:rgb(255,37,36);}
	#signin .inputWrap .big{}
	#signin .inputWrap .username,
	#signin .inputWrap .password{}
	.platform-ios #signin .inputWrap .username,
	.platform-ios #signin .inputWrap .password{}
	#signin .inputWrap .signin{margin-bottom: 20px;}
	#signin .retrievePassword{float:left;color:rgb(0,114,255);}
	#signin .signup{float: right;}
	#signin .signup .cnt{color:rgb(0,114,255);}
	#signin .person{}
	#signin .lock{}

/*signup*/
	#signup .show_password{text-align: right;border-bottom: 0;color: gray;}

/*kefu*/
	.page_kefu .scroll{width: 100%;height: 100%;}
	.page_kefu iframe{width: 100%;height: 100%;}

