<!DOCTYPE html>
<html ng-app="starter" ng-controller="allCtrl">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
	<meta name="format-detection" content="telephone=no">
	<title></title>

	<link href="lib/ionic/css/ionic.min.css" rel="stylesheet">
	<link href="//at.alicdn.com/t/font_03au2hs4xpfrbe29.css" rel="stylesheet">
	<link href="lib/cropper.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

	<script src="lib/jquery-3.2.1.min.js"></script>
	<script src="lib/jquery_noconflict.js"></script>
	<script src="lib/ionic/js/ionic.bundle.js"></script>
	<script src="lib/ionic/js/angular/angular-resource.min.js"></script>
	<script src="lib/md5.js"></script>
	<script src="lib/cropper.min.js"></script>
	<script src="lib/threejs/three.js"></script>
	<script src="lib/threejs/OBJLoader.js"></script>
	<script src="lib/threejs/OrbitControls.js"></script>
	<script src="lib/threejs/Projector.js"></script>
	<script src="lib/threejs/CanvasRenderer.js"></script>
	<script src="lib/threejs/GPUComputationRenderer.js"></script>
	<script src="lib/threejs/SimplexNoise.js"></script>
	<script src="lib/vs_util.js"></script>

	<script src="page/js/config.js"></script>
	<script src="page/js/ec.js"></script>
	<script src="page/js/directives.js"></script>
	<script src="page/js/services.js"></script>
	<script src="page/js/controllers.js"></script>
	<script src="page/js/app.js"></script>

	<script src="page/js/all.js"></script>
	<script src="page/tab.js"></script>
	<script src="page/home.js"></script>

	<script src="page/facewaver.js"></script>
	<script src="page/playlist.js"></script>
	<!-- <script src="page/songlist.js"></script> -->
	<script src="page/upload.js"></script>

</head>
<body>
	<ion-side-menus>

		<ion-side-menu side="left">
			<ion-header-bar>
				<div menu-close class="close"><i class="iconfont icon-guanbi"></i></div>	
			</ion-header-bar>
			<ion-content>
				<div class="list">
					<a class="item" menu-close href="#/tab/home">Home</a>
					<a class="item" menu-close href="#/tab/upload">Upload Photo</a>
					<a class="item" menu-close href="#/tab/playlist">Play List</a>
					<a class="item" menu-close href="#/tab/facewaver">Facewaver</a>
				</div>
			</ion-content>
		</ion-side-menu>

		<ion-side-menu-content drag-content="false">

			<div class="bg_wave" ></div>

			<ion-nav-view></ion-nav-view>

			<div class="icon ion-navicon" ng-if="!check_left_side_menu_open()" ng-click="toggle_left_side_menu()" style="position: absolute;top:12px;left: 20px;z-index: 99999;color:white;font-size: 32px;"></div>
			<div class="icon ion-android-close" ng-if="check_left_side_menu_open()" ng-click="toggle_left_side_menu()" style="position: absolute;top:12px;left: 20px;z-index: 99999;color:white;font-size: 32px;"></div>

		</ion-side-menu-content>

	</ion-side-menus>


	<!-- This is the 'compute shader' for the water heightmap: -->
	<script id="heightmapFragmentShader" type="x-shader/x-fragment">

		#include <common>

		uniform vec2 mousePos;
		uniform float mouseSize;
		uniform float viscosityConstant;

		#define deltaTime ( 1.0 / 60.0 )
		#define GRAVITY_CONSTANT ( resolution.x * deltaTime * 3.0 )

		void main()	{

			vec2 cellSize = 1.0 / resolution.xy;

			vec2 uv = gl_FragCoord.xy * cellSize;

			// heightmapValue.x == height
			// heightmapValue.y == velocity
			// heightmapValue.z, heightmapValue.w not used
			vec4 heightmapValue = texture2D( heightmap, uv );

			// Get neighbours
			vec4 north = texture2D( heightmap, uv + vec2( 0.0, cellSize.y ) );
			vec4 south = texture2D( heightmap, uv + vec2( 0.0, - cellSize.y ) );
			vec4 east = texture2D( heightmap, uv + vec2( cellSize.x, 0.0 ) );
			vec4 west = texture2D( heightmap, uv + vec2( - cellSize.x, 0.0 ) );

			float sump = north.x + south.x + east.x + west.x - 4.0 * heightmapValue.x;

			float accel = sump * GRAVITY_CONSTANT;

			// Dynamics
			heightmapValue.y += accel;
			heightmapValue.x += heightmapValue.y * deltaTime;

			// Viscosity
			heightmapValue.x += sump * viscosityConstant;

			// Mouse influence
			float mousePhase = clamp( length( ( uv - vec2( 0.5 ) ) * BOUNDS - vec2( mousePos.x, - mousePos.y ) ) * PI / mouseSize, 0.0, PI );
			heightmapValue.x += cos( mousePhase ) + 1.0;

			gl_FragColor = heightmapValue;

		}

	</script>

	<!-- This is just a smoothing 'compute shader' for using manually: -->
	<script id="smoothFragmentShader" type="x-shader/x-fragment">

		uniform sampler2D texture;

		void main()	{

			vec2 cellSize = 1.0 / resolution.xy;

			vec2 uv = gl_FragCoord.xy * cellSize;

			// Computes the mean of texel and 4 neighbours
			vec4 textureValue = texture2D( texture, uv );
			textureValue += texture2D( texture, uv + vec2( 0.0, cellSize.y ) );
			textureValue += texture2D( texture, uv + vec2( 0.0, - cellSize.y ) );
			textureValue += texture2D( texture, uv + vec2( cellSize.x, 0.0 ) );
			textureValue += texture2D( texture, uv + vec2( - cellSize.x, 0.0 ) );

			textureValue /= 5.0;

			gl_FragColor = textureValue;

		}

	</script>

	<!-- This is the water visualization shader, copied from the MeshPhongMaterial and modified: -->
	<script id="waterVertexShader" type="x-shader/x-vertex">

		uniform sampler2D heightmap;

		#define PHONG

		varying vec3 vViewPosition;
		varying vec3 v_position;

		#ifndef FLAT_SHADED

			varying vec3 vNormal;

		#endif

		#include <common>
		#include <uv_pars_vertex>
		#include <uv2_pars_vertex>
		#include <displacementmap_pars_vertex>
		#include <envmap_pars_vertex>
		#include <color_pars_vertex>
		#include <morphtarget_pars_vertex>
		#include <skinning_pars_vertex>
		#include <shadowmap_pars_vertex>
		#include <logdepthbuf_pars_vertex>
		#include <clipping_planes_pars_vertex>

		void main() {

			v_position=position;

			vec2 cellSize = vec2( 1.0 / WIDTH, 1.0 / WIDTH );

			#include <uv_vertex>
			#include <uv2_vertex>
			#include <color_vertex>

			// # include <beginnormal_vertex>
			// Compute normal from heightmap
			vec3 objectNormal = vec3(
				( texture2D( heightmap, uv + vec2( - cellSize.x, 0 ) ).x - texture2D( heightmap, uv + vec2( cellSize.x, 0 ) ).x ) * WIDTH / BOUNDS,
				( texture2D( heightmap, uv + vec2( 0, - cellSize.y ) ).x - texture2D( heightmap, uv + vec2( 0, cellSize.y ) ).x ) * WIDTH / BOUNDS,
				1.0 );
			//<beginnormal_vertex>

			#include <morphnormal_vertex>
			#include <skinbase_vertex>
			#include <skinnormal_vertex>
			#include <defaultnormal_vertex>

		#ifndef FLAT_SHADED // Normal computed with derivatives when FLAT_SHADED

			vNormal = normalize( transformedNormal );

		#endif

			//# include <begin_vertex>
			float heightValue = texture2D( heightmap, uv ).x;
			vec3 transformed = vec3( position.x, position.y, heightValue );
			//<begin_vertex>

			#include <morphtarget_vertex>
			#include <skinning_vertex>
			#include <displacementmap_vertex>
			#include <project_vertex>
			#include <logdepthbuf_vertex>
			#include <clipping_planes_vertex>

			vViewPosition = - mvPosition.xyz;
			gl_PointSize=10.0 * ( 300.0 / -mvPosition.z );

			#include <worldpos_vertex>
			#include <envmap_vertex>
			#include <shadowmap_vertex>

		}

	</script>
	<script type="x-shader/x-fragment" id="fragmentshader">

		uniform sampler2D texture;

		varying vec3 v_position;

		void main() {

			vec4 custom_color;
			// gl_FragColor = vec4( color * vColor, 1.0 );

			float x_ratio=(v_position.x+256.0)/512.0;
			float y_ratio=(v_position.y+256.0)/512.0;
			custom_color=vec4(0.2*x_ratio, 0.0, 0.2*(1.0-x_ratio), 1.0);

			gl_FragColor = custom_color * texture2D( texture, gl_PointCoord );

			// if ( gl_FragColor.a < ALPHATEST ) discard;

		}
	</script>

</body>
</html>
