<ion-view class="page page_facewaver"  view-title="facewaver" cache-view="false"  hide-back-button="true" can-swipe-back="false" ng-click="reset_gyro()" style="    position: fixed; width: 100%; height: 100%; top: 0; left: 0;">

	<!-- <canvas id="canvas2d" style="    position: fixed; top: 0; left: 0; width: 100%; height: 100%;display: none;"></canvas> -->

	<!-- <div class="buttons" ng-click="$event.stopPropagation()" style="position: fixed;bottom:0;text-align: center;height: 50px;width:100%; " >
		<button class="play" ng-if="fw.is_inited&&!fw.is_playing" ng-click="play()">play</button>
		<button class="next" ng-if="fw.is_inited&&fw.is_playing " ng-click="prev_song()">prev song</button>
		<button class="next" ng-if="fw.is_inited&&fw.is_playing " ng-click="next_song()">next song</button>
	</div> -->

	<div class="operate_wrap" ng-click="$event.stopPropagation()" style="" >
		<div class="song_info">
			<img class="cover" src="img/music_cover.png">
			<div class="title">{{get_song_act().title}}</div>
			<div class="artist">{{get_song_act().artist}}</div>
		</div>
		<div class="operate" >
			<div class="plays" ng-if="fw.is_inited">
				<div class="outline"></div>
				<div class="prev icon iconfont icon-prev" ng-class="{enabled:fw.is_playing} " ng-click="prev_song()"></div>
				<div class="play icon iconfont icon-play enabled" ng-class="{enabled:fw.is_playing} " ng-if="!fw.is_playing" ng-click="play()"></div>
				<div class="pause icon ion-ios-pause-outline enabled" ng-class="{enabled:fw.is_playing} " ng-if="fw.is_playing" ng-click="pause()"></div>
				<div class="next icon iconfont icon-next" ng-class="{enabled:fw.is_playing} " ng-click="next_song()"></div>
			</div>
		</div>
	</div>



</ion-view>
