<ion-modal-view class="modal_songlist" style=" background: url(img/bg_songlist.png);background-size:  cover   ">

	<div style="    text-align: center; color: white; font-size: 32px; line-height: 46px; position: absolute; width: 100%; top: 27px;">SONG LIST</div>

	<ion-content class="has-footer" style="top: 100px;">

		<div class="list">

			<div class="item item-avatar item-icon-left item-icon-right" ng-repeat="song in m.songlist" style="padding-left: 104px;background: none;color:white;border-color:rgb(141,142,187);" >
				<img src="img/music_cover.png" style="border-radius: 0;left: 52px;">

				<i class="icon ion-ios-circle-outline" ng-if="!song.act" ng-click="song.act=!song.act"></i>
				<i class="icon ion-ios-circle-filled" ng-if="song.act" ng-click="song.act=!song.act"></i>

				<h2 style="color:white;">{{song.name}}</h2>
				<p style="color:white;">{{song.author}}</p>
				
				<audio class="audio" gv-audio  style="display: none;" ng-src="{{song.url}}" >
					Your browser does not support the <code>audio</code> element.
				</audio>

				<i class="icon iconfont icon-play" ng-if="m.song_playing!=song" ng-click="play()"></i>
				<i class="icon ion-ios-pause-outline" ng-if="m.song_playing==song" ng-click="stop()" style="    right: 12px; font-size: 38px;"></i>


			</div>

		</div>
	</ion-content>
	<div class="close icon ion-android-close" ng-click="close_modal_songlist()" style="position: absolute;top:12px;right: 20px;z-index: 99999;color:white;font-size: 32px;"></div>

	<div class="bar bar-footer" ng-click="add_to_playlist()" style="background: rgb(53,79,129);color:white;">
		<div class="title">ADD TO MY LIST</div>
	</div>

</ion-modal-view>
