<ion-view class="page page_upload"  view-title="upload"  hide-back-button="true" can-swipe-back="false" style="    position: fixed; width: 100%; height: 100%; top: 0; left: 0; ">

	<!-- <div class="locator" style="position:absolute;width:100%;margin:auto;margin-top: 145px;">
		<img src="img/locator.png" style="width: 100%;">
	</div> -->

	<!-- <div class="headset" style="position:absolute;width:100%;margin:auto;margin-top: 90px;">
		<img src="img/headset.png" style="width: 100%;">
	</div> -->

	<div class="cropper_wrap" style="position: fixed;/*width:414px;height:414px;*/top:0;left:0;z-index: 0;display: ;top:57px;">
		<img class="cropper_img" src="" style="max-width: 100%;">

		<div class="button_wrap_top" ng-show="m.is_uploaded" style="top:20px;position: fixed;right: 10px;">
			<div class="rotate_right icon iconfont icon-rotate-right" ng-click="m.cropper.cropper.rotate(1);" ></div>
			<div class="rotate_left icon iconfont icon-rotate-left " ng-click="m.cropper.cropper.rotate(-1);" ></div>
			<div class="scale_big icon iconfont icon-scale-big" ng-click="scale_big()" ></div>
			<div class="scale_small icon iconfont icon-scale-small" ng-click="scale_small()" ></div>
			<!-- <div class="reset icon ion-ios-loop-strong" ng-click="m.cropper.cropper.reset()" style="    position: relative; top: -5px;"></div> -->
		</div>

		<div class="button_wrap" style="display: none;">
			<div class="button_group button_group_left">
				<div class="button" ng-click="m.cropper.cropper.rotate(-90);">左转</div><!--
				--><div class="button" ng-click="m.cropper.cropper.rotate(-1);">1度</div><!--
				--><div class="button" ng-click="m.cropper.cropper.rotate(-15);">15度</div><!--
				--><div class="button" ng-click="m.cropper.cropper.rotate(-30);">30度</div><!--
				--><div class="button" ng-click="m.cropper.cropper.rotate(-45);">45度</div>
			</div>
			<div class="button_group button_group_right">
				<div class="button" ng-click="m.cropper.cropper.rotate(90);">右转</div><!--
				--><div class="button" ng-click="m.cropper.cropper.rotate(1);">1度</div><!--
				--><div class="button" ng-click="m.cropper.cropper.rotate(15);">15度</div><!--
				--><div class="button" ng-click="m.cropper.cropper.rotate(30);">30度</div><!--
				--><div class="button" ng-click="m.cropper.cropper.rotate(45);">45度</div>
			</div>
			<div class="button_group button_group_other">
				<div class="button" ng-click="m.cropper.cropper.reset();">还原</div><!--
				--><div class="button" onclick="cropper_cancel();">取消</div><!--
				--><div class="button" onclick="cropper_finish();">完成</div>
			</div>
		</div>
	</div>

	<div class="locator_n_headset" style="position:absolute;width:100%;margin:auto;margin-top: 20px;pointer-events: none;">
		<img src="img/locator.png" style="width: 100%;">
	</div>

	<label class="upload vs_button" ng-if="!m.is_uploaded" ontouchstart="event.stopPropagation()" style="">
		<span>UPLOAD PHOTO</span>
		<input type="file" name="" onchange="angular.element(this).scope().cropper_load_photo(this);angular.element(this)[0].value=''" style="opacity: 0;display: none;">
	</label>

	<label class="generate vs_button" ng-if="m.is_uploaded" ng-click="cropper_finish()" style="">
		<span>GENERATE</span>
	</label>

	<div class="reupload_disabled vs_button_outline" ng-if="!m.is_uploaded" style="opacity: .2;">
		<span>REUPLOAD</span>
	</div>

	<label class="reupload vs_button_outline" ng-if="m.is_uploaded" ontouchstart="event.stopPropagation()">
		<span>REUPLOAD</span>
		<input type="file" name="" onchange="angular.element(this).scope().cropper_load_photo(this);angular.element(this)[0].value=''" style="opacity: 0;display: none;">
	</label>

</ion-view>
